<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hangman Web</title>
    <link rel="stylesheet" type="text/css" href="/assets/pseudo2.css">
</head>

<body>
<form action="/saveNicknames" method="post">
    <div class="names">
        <label for="name">Player 1, choose your nickname: </label>
        <input type="text" name="nicknamePlayer1" id="name" required>
    </div>
    <br>
    <br>
    <div class="names">
        <label for="name">Player 2, choose your nickname: </label>
        <input type="text" name="nicknamePlayer2" id="name" required>
    </div>
    <br>
    <br>
    <input id="button" type="submit" value="Confirm" id="confirm">
</form>
</body>
</html>