<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/assets/mainpage2.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Hangman Web</title>
</head>

<body>
    <a target="_blank">Hangman!</a>
    <div id="start">
        <form action="/rules">
            <button id="button" type="submit">Play</button>
        </form>
    </div>
    <div class="nomcreateur">
        <p id="Rafael">
            Rafael Mestre
        </p>
        <p id="Lucas">
            Lucas Menou
        </p>
        <p id="Lilian">
            Lilian Schott
        </p>
    </div>
</body>

</html>